{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ title }} - Todoist
{% endblock %}


{% block content %}
 
<table class="table table-hover">
    <tr>
        <td>
            <h1>Welcome to Todoist</h1>
            <br>
            <br>

    </td>
    </tr>
    <tr>
        <td>
            {% if form %}
            {{ wtf.quick_form(form) }}
            <br>
            {% endif %}
            <br>
        </td>
    </tr>
</table>
{% for task in tasks %}
<table class="table table-hover">
    <tr>
        <td>
        {{task.id}} | {{task.title}}
        <br>
        status:
        {% if task.status == False %}
        Not Completed
        {% else %}
        Completed
        {% endif %}
        <br>
        <tr>    
        <form action="/update/{{ task.id }}">
            <button type="submit">Update</button>
        </form>
        <form action="/delete/{{ task.id }}">
            <button type="submit">Delete</button>
        </form>
        <form action="/edit_task/{{ task.id }}">
            <button type="submit">Edit</button>
        </form>
        </tr>
        </td>
    </tr>

</table>
{% endfor %}
{% endblock %}